<div class="container">
  <h1>{{ welcome }}</h1>

  <!-- <ul>
    <li *ngFor="let task of tasks">{{ task }}</li>
  </ul> -->

  <hr />

  @if(name() === 'John'){
  <p>Hola John</p>
  } @else {
  <p>Hola {{ name() }}</p>
  }

  <h2>If else new sintaxsis</h2>

  @if (name() === 'John'){
  <p>Hola Jhon</p>
  } @else {
  <p>No soy Jhon</p>
  }

  <button [disabled]="disabled">Click</button>

  <hr />

  <p>{{ person.name }}</p>
  <p>{{ person.age }}</p>
  <p>{{ person.city }}</p>

  <hr />

  <button (click)="changeName()">Change Name</button>
  <button (dblclick)="changeName()">Doble Click</button>

  <hr />

  <p>(change)</p>

  <input type="text" (change)="inputHandler($event)" />

  <p>(KeyDown)</p>

  <input type="text" (keydown)="keydownHandler($event)" />

  <hr />
  <p>Signal</p>

  <p>{{ name() }}</p>

  <input type="text" [value]="name()" (change)="changehandler($event)" />

  <p>{{ tasks().length }}</p>

  <ul>
    <li *ngFor="let task of tasks(); index as i">{{ i }} - {{ task }}</li>
  </ul>

  <hr />

  <!-- Equivalente a ReactHookForm -->

  <input type="color" [formControl]="colorControl" />
  <p>Color: {{ colorControl.value }}</p>

  <svg>
    <rect
      x="0"
      y="0"
      width="100"
      height="100"
      [attr.fill]="colorControl.value"
    />
  </svg>

  <hr />

  <input type="number" [formControl]="widthControl" />
  <span [style.width]="widthControl.value + 'px'" class="box"></span>

  <hr />

  <div class="form-group">
    <input type="text" [formControl]="nameControl" />
    <span
      class="message-error"
      [class.show]="nameControl.invalid && nameControl.touched"
    >
      Nombre invalido
    </span>

    <div>
      <button (click)="nameControl.setValue('')">Limpiar</button>
    </div>
  </div>
</div>
